anyascii==0.3.3
asgiref==3.10.0
beautifulsoup4==4.12.3
bleach==4.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
defusedxml==0.7.1
dj-database-url>=2.2,<3
Django==5.0.9
django-filter==24.3
django-htmx==1.19.0
django-modelcluster==6.4
django-permissionedforms==0.1
django-ratelimit==4.1.0
django-stubs-ext==5.2.7
django-taggit==5.0.1
django-tasks==0.8.1
django-treebeard==4.7.1
djangorestframework==3.16.1
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
gunicorn==22.0.0
idna==3.11
l18n==2021.3
laces==0.1.2
Markdown==3.9
openpyxl==3.1.5
packaging==25.0
pillow==10.4.0
pillow_heif==0.22.0
psycopg==3.2.3
psycopg-binary==3.2.3
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.5
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.15.0
urllib3==2.5.0
wagtail==7.2
wagtail-markdown==0.13.0
webencodings==0.5.1
whitenoise==6.7.0
Willow==1.11.0
